html, body{
    padding : 0;
    margin : 0;
}

a{
    text-decoration:none;
}

header{
    padding: 5px 5px 0px 5px;
    background-color: #337357;
    height: 40px;
    position:relative;
}

header #header_name a{
    float:left;
    color: white;
    font-size: 30px;
}

header #header_links div{
    float: right;
}

header #header_links li{
    list-style-type: none;  
    position:relative; 
    top:18px;
    right:3px;
}

header #header_links a{
    color: white;
}

h2 {
    color:rgb(0, 100, 5);
}

nav{
    padding : 0px;
    margin : 0px;
    position : absolute;
    background-color : #6D9F71;
    width: 100px;
    height: 100%;
    color:black;
    display : flex;
}

section{
    padding : 0px;
    margin : 0px;
    position : absolute;
    left : 100px;
    width : 100%;
    height : 100%;
}

nav a{
    height : 20px;
    align-items : center;
    margin : 3px;
}

nav a:hover{
    background-color : #337357;
}