{% extends "home.html" %}}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block body %}
    <header>
        <div>
            <div id='header_name'>
                <a href = '#'>Sorobacus</a>
            </div>
            <div id='header_links'>
                <div id='right'>
                    <li><a href="#">blog</a></li>
                </div>
            </div>
        </div>
    </header>
    <h1> Use static file </h1>
    <h2> static file from blog </h2>
{% endblock %}
