{% load static %}
<!DOCTYPE html>
<html lang="en">
  <title>{% block title %}Sorobacus{% endblock %}</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style>
    body {
      font-family: "Lato", sans-serif;
    }
    .mySlides {
      display: none;
    }
    </style>
  <body>
    <!-- Navbar -->
    {% block navigation %} {% endblock %}

    <!-- Page content -->
    {% block content %} {% endblock %}
  </body>
</html>
