{% extends 'base.html' %} 

{% block navigation %} {%include 'navibar.html'%}{% endblock %}

{% block content %}

<!-- Page content -->
<div class="main-content">
  <!-- The Band Section -->
  <div class="introduction">
    <h1 class="name-item">Yusuke<br />Peter<br />Sơn<br />Yamashita</h1>
    <p class="description"><i>I love 山梨.</i></p>
  </div>

  <!--middle container-->
  <div class="container bg-success">
    <h2 class="display-5 text-center text-center text-white">ABOUT ME</h2>
    <p class="text-white text-center">This is some text.</p>

    <div class="row">
      <div class="col order-last margin-top">
        <div class="container bg-white">
          <p><b>What I do.</b></p>
          <p>
            I collect software info from all over teh world.<br />
            And create sofware in yamanashi in Japan
          </p>
        </div>
      </div>
      <div class="col">
        <div class="container bg-white">
          <p><b>What I think</b></p>
          <p>
            Living in Yamanashi in Japan makes me to progress forward.<br />
            Create software from here to the world.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- The Contact Section -->
  <div class="container" style="max-width: 800px" id="contact">
    <h2 class="display-5 text-center text-center">CONTACT</h2>
    <p class="fs-6 text-center"><i>Look at my github</i></p>
    <div class="row justify-content-center">
      <a
        href="https://github.com/PeterYusuke"
        target="_blank"
        rel="noopener"
        class="btn btn-outline-dark"
        >Github</a
      >
    </div>
  </div>
</div>

<!-- End Page Content -->
{% endblock %}
