
nav{
    background-color: #337357;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    float: left;
    a{
        display: block;
        padding: 14px 16px;
        color:white;
        text-align: center;
        text-decoration: none;
    }
    &:hover{
        background-color: #1b523a;
    }
}
