
@import 'body';
@import 'nav';

.main-content{
    background-color: blue;
    margin-top: 0px;
}

.introduction{
    background-color: white;
}


.name-item{
    margin: auto;
    text-align: center;
}

.description{
    text-align: center;
}
